.alert {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 0.5rem;
  text-align: left;

  svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  p {
    margin-top: 0 !important;
    margin-left: 0.5rem !important;
    font-weight: 600;
    width: fit-content;
    font-size: 0.8rem;
    text-align: left;
  }
}
