.deal {
  color: white;
  width: 30%;
  position: relative;

  .circles {
    position: absolute;
    width: calc(100% + 2.3rem);
    left: -1.15rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    place-content: space-between;

    .circle {
      width: 2.3em;
      height: 2.3rem;
      border-radius: 50%;
      background-color: var(--card-bg);
    }
  }

  .top {
    padding: 1rem 1.5rem;
    height: 50%;

    h3 {
      font-size: 1.1rem;
    }
  }

  img {
    width: 100%;
  }

  .bottom {
    padding: 1rem 1.5rem;
    height: 50%;

    p {
      font-size: 0.85rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .deal {
    width: 32%;

    .top {
      padding: 0.7rem 1.2rem;
      height: 50%;

      h3 {
        font-size: 0.95rem;
      }
    }

    img {
      width: 100%;
    }

    .bottom {
      padding: 0.7rem 1.2rem;
      height: 50%;

      p {
        font-size: 0.75rem;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .deal {
    width: 32%;

    .top {
      padding: 0.5rem 1rem;

      h3 {
        font-size: 0.8rem;
      }
    }

    .bottom {
      padding: 0.5rem 1rem;

      p {
        font-size: 0.6rem;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .deal {
    margin-top: 1rem;
    width: 100%;

    .top {
      padding: 0.7rem 1.2rem;
      height: 50%;

      h3 {
        font-size: 0.95rem;
      }
    }

    img {
      width: 100%;
    }

    .bottom {
      padding: 0.7rem 1.2rem;
      height: 50%;

      p {
        font-size: 0.75rem;
      }
    }
  }
}
