@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --bg-shapes: url("http://localhost:3000/images/bgShapesLight.svg");
  --background: white;
  --text-primary: black;
  --text-secondary: #731bde;
  --accent: #731bde;
  --main-button: #731bde;
  --secondary-button: #e0cdf8;
  --main-button-text: white;
  --secondary-button-text: #731bde;
  --card-bg: white;
  --border: #dadada;
  --shield: #e1e1e1;
}
[data-theme="dark"] {
  --bg-shapes: url("http://localhost:3000/images/bgShapesDark.svg");
  --background: #231f20;
  --text-primary: white;
  --text-secondary: #a089ba;
  --accent: #731bde;
  --main-button: #ffffff;
  --secondary-button: #afafaf;
  --main-button-text: #731bde;
  --secondary-button-text: #2c0658;
  --card-bg: #dddddd;
  --border: #ffffff;
  --shield: #731bde;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: var(--bg-shapes);
  background-size: cover;
  transition: all 0.4s linear;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
