.nav {
  display: flex;
  align-items: center;
  width: 100%;
  place-content: space-between;
  padding: 1rem 2rem;
  z-index: 10;
  user-select: none;

  button {
    background-color: var(--main-button);
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    color: var(--main-button-text);
    font-weight: normal;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: 0.25s ease-in-out;
  }

  .loginBtn {
    background-color: var(--secondary-button);
    color: var(--secondary-button-text);
  }

  .mobileMenuContainer {
    z-index: 10;
    position: fixed;
    width: 90%;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0;

    .mobileMenu {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 90%;
      height: 100%;
      position: fixed;
      right: 0;
      top: 0;
      background-color: var(--background);
      z-index: 3;
      padding: 2rem;
      padding-top: 4rem;
      border-left: 1px solid rgba(0, 0, 0, 0.1);

      .close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
      }

      .user {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        .details {
          display: flex;
          align-items: center;

          h3 {
            font-size: 1.1rem;
            opacity: 0.8;
          }

          img {
            margin-left: 1rem;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
          }
        }

        .logout {
          margin-top: 1rem;
          color: white;
          background-color: #731bde;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          border-radius: 0.5rem;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          transition: 0.25s ease-in-out;
          cursor: pointer;

          &:hover {
            background-color: darken(#731bde, 5%);
          }

          p {
            margin-left: 0.5rem;
          }
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;
      }

      button {
        margin-top: 1rem;
        width: 10rem;
      }

      ul {
        width: 100%;
        list-style-type: none;
        margin-top: 2rem;

        li {
          margin-bottom: 1rem;
          border-bottom: 2px solid;
          padding-bottom: 0.5rem;
          border-color: var(--border);
          opacity: 0.8;

          a {
            font-size: 1rem;
            color: var(--primary-text);
          }
        }
      }
    }
  }

  .left {
    display: flex;
    align-items: center;

    img {
      user-select: none;
      width: 9rem;
      cursor: pointer;
    }

    .links {
      display: none;
      align-items: center;
      list-style-type: none;
      li {
        margin-left: 4rem;
        a {
          font-size: 1rem;
          color: var(--primary-text);
          font-weight: 500;
          transition: 0.3s ease-in-out;
          text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          opacity: 0.8;

          &:hover {
            color: var(--accent);
            opacity: 1;
          }
        }

        svg {
          width: 1.3rem;
          height: 1.3rem;
          cursor: pointer;
        }

        .activeLink {
          color: #731bde;
          opacity: 1;
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    .toggle {
      display: none;
    }

    .menu {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      color: var(--text-primary);
    }

    .user {
      display: none;
      align-items: center;
      position: relative;

      h3 {
        font-size: 1.1rem;
        opacity: 0.8;
      }

      img {
        margin-left: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 2px solid black;
        cursor: pointer;
      }

      .dropdown {
        opacity: 0;
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: var(--background);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 0.5rem;
        transform: translateY(120%);
        align-items: center;
        flex-direction: column;
        cursor: pointer;

        .header {
          display: flex;
          align-items: center;
          transition: 0.25s ease-in-out;
          width: 100%;
          padding: 0.5rem 1rem;
          position: relative;
          border-radius: 0.5rem 0.5rem 0 0;

          svg {
            width: 1.5rem;
            height: 1.5rem;
            position: absolute;
            border: none;
            opacity: 0.6;
            right: 0.5rem;
            top: 0.5rem;
            padding: 0.2rem;
          }

          p {
            margin-right: 2rem;
            opacity: 0.7;
          }
        }

        .logoutBtn {
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.25s ease-in-out;
          padding: 0.5rem 1rem;
          width: 100%;
          border-top: 1px solid rgba(0, 0, 0, 0.1);

          svg {
            opacity: 0.8;
          }

          p {
            margin-left: 0.5rem;
            opacity: 0.8;
          }
        }
      }
    }

    .buttons {
      display: none;

      button {
        margin-left: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .nav {
    .mobileMenuContainer .mobileMenu {
      width: 50%;
    }
  }
}

@media only screen and(min-width: 1500px) {
  .nav {
    .left {
      .links {
        margin-top: 1.5rem;
        display: flex;
      }
    }

    .right {
      .toggle {
        display: block;
        margin-right: 1.5rem;
      }

      .menu {
        display: none;
      }

      .mobileMenu {
        display: none;
      }

      .buttons,
      .user {
        display: flex;
      }
    }
  }
}
