.card {
  position: absolute;
  width: 50rem;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--card-bg);
  overflow: hidden;
  border-radius: 0.7rem;
  color: black;
  text-align: center;
  padding-right: 0.5rem;

  .header {
    width: calc(100% + 1rem);
    text-align: left;
    background-color: #dfc6ff;
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
    h1 {
      color: #4e3883;
    }
  }

  .body {
    margin: 0 auto;
    width: 80%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .additional {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      p {
        opacity: 0.7;
        font-size: 0.9rem;
        margin-bottom: 1rem;
      }

      .codeAndError,
      .months {
        display: flex;
        align-items: flex-start;
        width: 60%;
        flex-direction: column;

        .select {
          padding: 0;
          width: 8rem;
          border: 1px solid;
          border-color: var(--border);
          background-color: white;
          font-size: 1rem;
          border-radius: 0.3rem;
          margin-top: 0.3rem;
          background: #f0f0f0;
          color: black;
          border-radius: 5px;
        }

        label {
          font-size: 0.95rem;
          font-weight: 500;
        }

        .discount {
          display: flex;
          align-items: center;
          border: 1px solid;
          border-color: var(--border);
          border-radius: 0.3rem;
          width: 100%;
          height: 3rem;
          padding-left: 0.5rem;
          background-color: #f0f0f0;

          svg {
            color: #707070;
            width: 2rem;
            height: 2rem;
          }

          input {
            color: black;
            border: none;
            font-size: 1.1rem;
            outline: none;
            padding: 0 0.5rem;
            height: 100%;
            width: 100%;
            font-weight: 600;
            background-color: transparent;
          }

          button {
            cursor: pointer;
            border-radius: 0 0.3rem 0.3rem 0;
            color: white;
            background-color: #731bde;
            font-size: 0.8rem;
            height: 100%;
            padding: 0 0.5rem;
            border: none;
            font-weight: 600;
          }

          .remove {
            background-color: #e96d69;
          }
        }
      }

      .months {
        margin-top: 1rem;
        width: 50%;

        .select {
          width: 100%;
          margin-top: 0.2rem;
        }
      }
    }

    .orderAndPayment {
      margin-top: 1rem;
      width: 100%;
      .order {
        display: flex;
        align-items: flex-start;
        text-align: left;
        flex-direction: column;
        width: 100%;

        .list {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;
          margin-bottom: 1rem;

          .item {
            display: flex;
            align-items: center;
            place-content: space-between;
            width: 100%;
            border-bottom: 1px solid;
            border-color: var(--border);
            padding: 0.5rem 0;

            h3 {
              font-size: 1.05rem;
              font-weight: 500;
            }

            h4 {
              font-size: 0.95rem;
              font-weight: 500;
            }

            p {
              font-size: 1.05rem;
              font-weight: normal;
            }

            .total {
              font-weight: bold;
              font-size: 1.05rem;
            }

            &:nth-last-child(1) {
              border-bottom: none;
            }
          }
        }
      }

      .payment {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .cryptoMethod {
          transition: 0.3s ease-in-out;
          width: 100%;
          background-color: #f0f0f0;
          border-radius: 0.3rem;
          margin: 1rem 0;
          border: 1px solid;
          border-color: var(--border);

          .header {
            width: 100%;
            background-color: transparent;
            padding: 0;
            padding: 1rem;
            display: flex;
            align-items: center;
            place-content: space-between;

            .select {
              padding: 0;
              width: 8rem;
              border: 1px solid;
              border-color: var(--border);
              background-color: white;
              font-size: 1rem;
              border-radius: 0.3rem;
              margin-top: 0.3rem;
              background: #f0f0f0;
              color: black;
              border-radius: 5px;
            }
          }

          .body {
            background-color: white;
            width: 100%;
            padding: 0.4rem 1rem;

            p {
              color: black;
              font-size: 0.9rem;
              font-weight: 500;
              opacity: 0.8;
            }
          }
        }

        a {
          text-decoration: underline;
        }

        p {
          font-size: 0.9rem;
          margin: 1rem 0;

          span {
            text-decoration: underline;
          }
        }

        button {
          width: 100%;
          background-color: #731bde;
          box-shadow: 10px 12px 24px hsla(341, 100%, 54%, 0.15);
          border-radius: 0.4rem;
          padding: 0.6rem 0;
          color: white;
          font-weight: 600;
          font-size: 1.2rem;
          border: none;
          cursor: pointer;
          transition: 0.25s ease-in-out;

          &:hover {
            background-color: darken(#731bde, 10%);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .card {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    .body {
      .additional {
        .months {
          width: 100%;

          .select {
            width: 100%;
            margin-top: 0.2rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .card {
    .body {
      width: 100%;
      .additional {
        h2 {
          font-size: 1.1rem;
        }

        .codeAndError {
          width: 100%;
        }
      }

      .orderAndPayment {
        .order {
          h2 {
            font-size: 1.1rem;
          }

          .list {
            .item {
              h3 {
                font-size: 0.9rem;
              }

              h4,
              p {
                font-size: 0.8rem;
              }

              .total {
                font-size: 0.9rem;
              }
            }
          }
        }

        .payment {
          h2 {
            font-size: 1.1rem;
          }
          .cryptoMethod {
            .header {
              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
