.subscribe {
  display: flex;
  align-items: center;
  flex-direction: column;

  .subscribePlans {
    margin-top: 5rem;
    width: 60%;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    place-items: center;
    -ms-grid-columns: (minmax(17em, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }
}

@media only screen and (max-width: 1600px) {
  .subscribe .subscribePlans {
    width: 90%;
  }
}

@media only screen and (max-width: 1400px) {
  .subscribe {
    padding: 2rem;
    .subscribePlans {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 400px) {
  .subscribe {
    padding: 1rem;

    .subscribePlans {
      -ms-grid-columns: (minmax(12em, 1fr)) [auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    }
  }
}
