.subscription {
  width: 100%;
  height: 25%;
  border-radius: 0.3rem;
  display: flex;
  align-items: flex-start;
  place-content: space-between;
  padding: 1rem;
  margin-top: 1rem;

  .left {
    display: flex;
    align-items: flex-start;
    place-content: space-between;
    flex-direction: column;
    height: 100%;

    .info {
      h4 {
        font-weight: 600;
        font-size: 1.1rem;
      }

      p {
        font-size: 0.95rem;
        color: #8c8c8c;
      }
    }

    button {
      border-radius: 0.3rem;
      border: none;
      font-size: 0.9rem;
      padding: 0.3rem 0.5rem;
      color: white;
      cursor: pointer;
      transition: 0.25s ease-in-out;

      &:hover {
        background-color: darken(#731bde, 10%);
      }
    }
  }

  .right {
    h3 {
      font-size: 1.15rem;
      font-weight: bold;

      span {
        font-weight: 600;
        color: #8c8c8c;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .subscription {
    margin-right: 0.5rem;
    .left {
      .info {
        h4 {
          font-size: 0.9rem;
        }

        p {
          font-size: 0.8rem;
        }
      }

      button {
        border-radius: 0.2rem;
        font-size: 0.9rem;
        padding: 0.25rem 0.4rem;
      }
    }

    .right {
      h3 {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .subscription {
    height: 10rem;
    width: 32%;
    flex-direction: column-reverse;
    align-items: center;

    .right {
      margin-bottom: 0.5rem;
    }

    .left {
      align-items: center;
      place-content: space-evenly;

      .info {
        align-items: center;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .subscription {
    padding: 0.5rem;
    .left {
      button {
        font-size: 0.7rem;
        margin-top: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .subscription {
    margin-top: 1rem;
    width: 100%;
  }
}
