.subscription {
  width: 100%;
  height: 25%;
  border-radius: 0.3rem;
  display: flex;
  align-items: flex-start;
  place-content: space-between;
  flex-direction: column;
  padding: 1rem;
  margin-top: 1rem;

  .content {
    display: flex;
    align-items: flex-start;
    place-content: space-between;
    width: 100%;
    height: 100%;

    .left {
      display: flex;
      align-items: flex-start;
      place-content: space-between;
      flex-direction: column;
      height: 100%;

      .info {
        h4 {
          font-weight: 600;
          font-size: 1.1rem;
        }

        p {
          font-size: 0.95rem;
          color: #8c8c8c;
        }
      }

      button {
        margin-top: 1rem;
        border-radius: 0.3rem;
        border: none;
        font-size: 0.75rem;
        padding: 0.25rem 0.3rem;
        color: white;
        cursor: pointer;
        transition: 0.25s ease-in-out;

        &:hover {
          background-color: darken(#731bde, 10%);
        }
      }

      .percentage {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        label {
          font-size: 0.95rem;
          color: #8c8c8c;
        }

        .inputButton {
          width: 100%;
          height: 2rem;
          display: flex;
          align-items: center;

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type="number"] {
            -moz-appearance: textfield;
          }

          input {
            height: 100%;
            margin-top: 0rem;
            width: 3rem;
            background: #f0f0f0;
            color: black;
            padding: 0.3rem;
            border-radius: 0.3rem;
            font-size: 1rem;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            outline: none;
            transition: 0.25s ease-in-out;

            &:focus {
              border: 1px solid black;
            }
          }

          button {
            margin-top: 0;
            height: 100%;
            padding: 0.3rem;
            margin-left: 0.38rem;
            font-size: 0.7rem;
          }
        }
      }
    }

    .right {
      h3 {
        font-size: 1.15rem;
        font-weight: bold;

        span {
          font-weight: 600;
          color: #8c8c8c;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .subscription {
    margin-right: 0.5rem;
    .content {
      .left {
        .info {
          h4 {
            font-size: 0.9rem;
          }

          p {
            font-size: 0.8rem;
          }
        }

        button {
          border-radius: 0.2rem;
          font-size: 0.9rem;
          padding: 0.25rem 0.4rem;
        }
      }

      .right {
        h3 {
          font-size: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .subscription {
    height: fit-content;
    width: 37%;

    .content {
      flex-direction: column-reverse;
      align-items: center;

      .left {
        margin-top: 1rem;
        align-items: center;
        place-content: space-evenly;

        .info {
          margin-bottom: 1rem;
          align-items: center;
          text-align: center;
        }

        .percentage {
          align-items: center;
          label {
            font-size: 0.75rem;
          }

          .inputButton {
            flex-direction: column;
            width: 4rem;
            height: fit-content;

            input {
              width: 100%;
              margin-top: 0.15rem;
              padding: 0.2rem;
              border-radius: 0.2rem;
              font-size: 0.85rem;
            }

            button {
              margin-top: 0.5rem;
              width: 100%;
              padding: 0.3rem;
              margin-left: 0;
              font-size: 0.85rem;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .subscription {
    padding: 0.5rem;
    .content {
      .left {
        button {
          font-size: 0.7rem;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .subscription {
    margin-top: 1rem;
    width: 100%;
  }
}
