.subscription {
  width: 100%;
  height: 13.5rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: flex-start;
  place-content: space-between;
  flex-direction: column;
  padding: 0.7rem;
  margin-top: 1rem;
  position: relative;
  transition: 0.2s ease-in-out;

  .toggleSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 1rem;

    input[type="checkbox"] {
      display: none;
    }

    .switch {
      position: absolute;
      cursor: pointer;
      background-color: #bdbdbd;
      border-radius: 25px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: background-color 0.2s ease;

      &::before {
        position: absolute;
        content: "";
        left: 5px;
        top: 50%;
        width: 21px;
        height: 21px;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.3s ease;
        transform: translateY(-50%);
      }
    }

    input[type="checkbox"]:checked + .switch::before {
      transform: translate(30px, -50%);
    }

    input[type="checkbox"]:checked + .switch {
      background-color: #43de6c;
    }

    input[type="checkbox"]:checked + .switch::after {
      background: url("../public/images/navbar/stars.svg");
      background-size: cover;
      left: 20%;
      width: 15px;
      height: 19.5px;
    }
  }

  .pauseScreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(146, 248, 255, 0.15);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
      font-size: 2.5rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    place-content: space-between;
    width: 100%;
    height: 100%;

    .top,
    .mid,
    .bottom {
      display: flex;
      align-items: center;
      width: 100%;
      place-content: space-between;
    }

    .top {
      align-items: flex-start;
      .info {
        h4 {
          font-weight: 600;
          font-size: 1rem;
          transition: 0.2s ease-in-out;
        }

        p {
          font-size: 0.9rem;
          color: #8c8c8c;
        }
      }
    }

    .mid {
      place-content: space-around flex-start;
      margin: 1.5rem 0;

      button {
        border-radius: 0.3rem;
        border: none;
        font-size: 0.8rem;
        padding: 0.4rem 0.5rem;
        color: white;
        cursor: pointer;
        transition: 0.25s ease-in-out;
        margin-right: 0.5rem;

        &:hover {
          background-color: darken(#731bde, 10%);
        }
      }
    }

    .bottom {
      align-items: flex-end;

      .percentage {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        label {
          font-size: 0.95rem;
          color: #8c8c8c;
        }

        .inputButton {
          width: 100%;
          height: 2rem;
          display: flex;
          align-items: center;
          margin-top: 0.5rem;

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type="number"] {
            -moz-appearance: textfield;
          }

          input {
            height: 100%;
            margin-top: 0rem;
            width: 3rem;
            background: #f0f0f0;
            color: black;
            padding: 0.3rem;
            border-radius: 0.3rem;
            font-size: 1rem;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            outline: none;
            transition: 0.25s ease-in-out;

            &:focus {
              border: 1px solid black;
            }
          }

          button {
            height: 100%;
            border-radius: 0.3rem;
            border: none;
            font-size: 0.75rem;
            padding: 0.4rem 0.5rem;
            color: white;
            cursor: pointer;
            transition: 0.25s ease-in-out;
            margin-left: 0.8rem;

            &:hover {
              background-color: darken(#731bde, 10%);
            }
          }
        }
      }

      h3 {
        font-size: 1.15rem;
        font-weight: bold;

        span {
          font-weight: 600;
          color: #8c8c8c;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .subscription {
    .content {
      .bottom {
        .percentage {
          label {
            font-size: 0.8rem;
          }

          .inputButton {
            width: 80%;
            margin-top: 0.3rem;

            input {
              width: 2.5rem;
              font-size: 0.9rem;
            }

            button {
              font-size: 0.7rem;
              padding: 0.3rem 0.4rem;
              margin-left: 0.5rem;
            }
          }
        }

        h3 {
          font-size: 1.1rem;
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .subscription {
    height: 18rem;
    .content {
      .top {
        align-items: center;
        flex-direction: column-reverse;

        .info {
          text-align: center;
          margin-top: 0.5rem;
        }
      }

      .mid {
        margin: 0.5rem auto;
        width: fit-content;
      }

      .bottom {
        align-items: center;
        flex-direction: column;

        .percentage {
          width: fit-content;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
